body{
    background-image: url(images/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTM2NjcxMC1pbWFnZS1rd3Z4eGVxcC5qcGc.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

div{
    margin: 2px;
}

.topp{
    align-items: center;
    display: flex;
    border: solid black 2px;
}

.images{
    border: white 2px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    padding: 10px;
}

h1{
    margin: 10px; 
    font-size: 90px;
    color: white;
}       

.innhold{
    display: flex;
    flex-wrap: wrap;
}

.video{
    margin: 10px;
}

video{
    width: 100%;
}

img{
    margin: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: red ;
    border-radius: 25px;
    color: white;
    padding: 10px;
}

.info video{
    margin: 15px;
}

.fotter{
    color: red;
    font-size: 20px;
    background-color: pink;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
}

.copyright{
    text-align: center; 
}